<div class="container p-2">

    <div class="card p-2" >
        <div class="header">
          <form>
          <div class="d-flex flex-row">
              <div class="p-2">
              <label for="staticEmail" class="p-2"><strong>Taux change :</strong></label>
              <label for="staticEmail" class="p-2">   {{store.exchangeRate| number:'1.0-3'}}</label>  
              </div>  
              <div class="form-check p-2">
                  <input type="checkbox"   [checked]="isChekedFixedExchangeRate" (change)="isChekedFixedExchangeRate = !isChekedFixedExchangeRate" class="form-check-input" >
                  <label class="form-check-label" for="exampleCheck1">Taux d'échange fixé :</label>
              </div>
              <div class="p-2">
                  <input  type="number" [readonly]="!isChekedFixedExchangeRate"  [formControl]="fixedExchangeRateControl"  class="form-control input-sm" >
              </div>
        </div>
       </form>
      </div>
      <div class="card-body">
          <div class="form-group row">
          <div class="col-sm-2">
          <div class="input-group input-group-sm mb-3">
             
              <input type="number" [formControl]="inputAmountTermControl" class="form-control" aria-label="small" aria-describedby="inputGroup-sizing-large">
              <div class="input-group-append">
                <span class="input-group-text">{{inputCurrencyTerm$ |async}}</span>
              </div>
            </div>
            
          </div>
           <div class="col-sm">           
              <label for="staticEmail" class="col-form-label"><strong>{{(outputAmountTerm$ |async)| number:'1.0-3'}}</strong></label>
              <span class="ml-1 mr-3">{{outputCurrency}}</span>
            <span> Taux de change utilisé :</span><strong>{{usedExchangeRate }}</strong>
          </div>
            </div>
          <div class="form-group form-check form-check-inline">
              <input class="form-check-input ml-2"
              type="radio" name="radioAnswer" id="inputCurrency1" value="EUR" [(ngModel)]="inputCurrency"
              (ngModelChange)="chooseCurrency($event)">
              <label class="form-check-label" for="inputCurrency1">EUR</label>
              <input class="form-check-input ml-2"
              type="radio" name="inputCurrency2" id="inputCurrency2" value="USD" [(ngModel)]="inputCurrency"
              (ngModelChange)="chooseCurrency($event)">
              <label class="form-check-label" for="inputCurrency2">USD</label>
  
              </div>
          </div>
      <div class="footer">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">taux réel</th>
                      <th scope="col">taux saisi</th>
                      <th scope="col">valeur initiale</th>
                      <th scope="col">valeur calculée</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let operation of listOperationHisto; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td> {{ operation.realExchangeRate | number }}</td>
                      <td>{{ operation.fixedExchangeRate | number }}</td>
                      <td>{{ operation.inputAmount?.value | number }} {{ operation.inputAmount?.currency  }}</td>
                      <td>{{ operation.outputAmount?.value | number }} {{ operation.outputAmount?.currency  }}</td>
                  </tr>
              </tbody>
          </table>
          
      </div>
      
    </div>
    
  </div>